.country{
    border: 2px solid green;
    background-color: yellowgreen;
    border-radius: 10px;
    color: white;
    margin: 10px;
    padding: 10px;
    text-align: center;
}
.flag{
    height: 80px;
}
.btn{
    width: 170px;
    height: 40px;
    background-color: orangered;
    border-radius: 100px;
    border: none;
    color: white;
    padding: 10px;
    text-align: center;
    cursor: pointer;
}